<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarianServlet</servlet-name>
        <servlet-class>controller.admin.AddLibrarianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>controller.admin.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.admin.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>controller.admin.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>controller.librarian.AddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTitleController</servlet-name>
        <servlet-class>controller.ViewTitleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentBookController</servlet-name>
        <servlet-class>controller.librarian.RentBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRentedBook</servlet-name>
        <servlet-class>controller.reader.ViewRentedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookController</servlet-name>
        <servlet-class>controller.librarian.ReturnBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewTransactionController</servlet-name>
        <servlet-class>controller.librarian.RenewTransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarianServlet</servlet-name>
        <url-pattern>/addLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/viewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTitleController</servlet-name>
        <url-pattern>/viewTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentBookController</servlet-name>
        <url-pattern>/rentBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRentedBook</servlet-name>
        <url-pattern>/viewRentedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookController</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewTransactionController</servlet-name>
        <url-pattern>/renewTransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
